<section>
    <div class="text-right">
        分為<strong class="px-2">{{amount}}</strong>組
        <button class="btn btn-primary" (click)="amountChanged(amount+1)">+</button>
        <button class="btn btn-primary" (click)="amountChanged(amount-1)" [disabled]="amount==1">&minus;</button>
    </div>
    <div class="row">
        <div class="col-md-5">
            <fieldset>
                <legend>
                    二傳名單
                    <small>（請輸入<strong>{{amount}}</strong>人）</small>
                </legend>
                <div class="border-bottom mb-1 pb-1">
                    <div class="d-inline-block text-center" style="width: 12em">姓名</div>
                </div>
                <div *ngFor="let player of players.setters">
                    <button class="btn btn-link btn-sm" (click)="player.clear()">&times;</button>
                    <input [(ngModel)]="player.name">
                </div>
            </fieldset>
            <fieldset>
                <legend>
                    攔中名單
                    <small>（請輸入<strong>{{amount*2}}</strong>人）</small>
                </legend>
                <div class="border-bottom mb-1 pb-1">
                    <div class="d-inline-block text-center" style="width: 12em">姓名</div>
                </div>
                <div *ngFor="let player of players.middleBlockers">
                    <button class="btn btn-link btn-sm" (click)="player.clear()">&times;</button>
                    <input [(ngModel)]="player.name">
                </div>
            </fieldset>
        </div>
        <div class="col-md-7">
            <fieldset>
                <legend>
                    邊攻名單
                    <small>（請輸入<strong>{{amount*4}}</strong>人）</small>
                </legend>
                <div class="border-bottom mb-1 pb-1">
                    <div class="d-inline-block text-center" style="width: 12em">姓名</div>
                    <div class="d-inline-block">自由人意願</div>
                </div>
                <div *ngFor="let player of players.wingSpikers; index as i">
                    <button class="btn btn-link btn-sm" (click)="player.clear()">&times;</button>
                    <input [(ngModel)]="player.name">
                    <input [(ngModel)]="player.isLibero" type="checkbox" class="mx-3">
                </div>
            </fieldset>
        </div>
    </div>
    <div class="offset-3 col-6">
        <button class="btn btn-primary btn-lg btn-block my-4" (click)="go()">亂數分組</button>
    </div>
</section>

<section>
    <div class="row">
        <div *ngFor="let team of teams; index as i" class="col-md-3">
            <h3>隊伍{{i+1}}</h3>
            <dl>
                <dt>二傳</dt>
                <dd>{{team[0].name}}</dd>

                <dt>攔中</dt>
                <dd>{{team[1].name}}</dd>
                <dd>{{team[2].name}}</dd>

                <dt>主攻</dt>
                <dd>{{team[3].name}}</dd>
                <dd>{{team[4].name}}</dd>

                <dt>對角</dt>
                <dd>{{team[5].name}}</dd>

                <dt>自由</dt>
                <dd>{{team[6].name}}</dd>
            </dl>
        </div>
    </div>
</section>

<section>
    <div class="row">
        <div *ngFor="let team of teams; index as i" class="col-md-6">
            <h3>隊伍{{i+1}}</h3>
            <div class="border">
              <div class="bg-warning">
                <div class="row">
                    <dl class="col-4">
                        <dt>對角</dt>
                        <dd>{{team[5].name}}</dd>
                    </dl>
                    <dl class="col-4">
                        <dt>攔中</dt>
                        <dd>{{team[1].name}}</dd>
                    </dl>
                    <dl class="col-4">
                        <dt>主攻</dt>
                        <dd>{{team[3].name}}</dd>
                    </dl>
                </div>
                <div class="row">
                    <dl class="col-4">
                        <dt>主攻</dt>
                        <dd>{{team[4].name}}</dd>
                    </dl>
                    <dl class="col-4">
                        <dt>攔中</dt>
                        <dd>{{team[2].name}}</dd>
                    </dl>
                    <dl class="col-4">
                        <dt>二傳</dt>
                        <dd>{{team[0].name}}</dd>
                    </dl>
                </div>
              </div>
                <div class="row">
                    <dl class="offset-8 col-4">
                        <dt>自由</dt>
                        <dd>{{team[6].name}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
